//- h1 hola
//- p Nosotros

//- <!--p= viajes //con un = espera una variable
//- p #{viajes}
//- con un #{} tambien espera una variable-->

extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum odit aspernatur culpa sint sit id, illo placeat iste dolore, vero doloremque consequuntur inventore nulla itaque repellat et corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum odit aspernatur culpa sint sit id, illo placeat iste dolore.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum odit aspernatur culpa sint sit id, illo placeat iste dolore, vero doloremque consequuntur inventore nulla itaque repellat et corporis!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt harum odit aspernatur culpa sint sit id, illo placeat iste dolore, vero doloremque consequuntur inventore nulla itaque repellat et corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit.

    .listado-iconos 
        .container.mt-5-py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati distinctio rerum in autem deleniti blanditiis veritatis facere error, ipsum earum? Iusto a nisi distinctio, dolor nesciunt similique aut adipisci?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati distinctio rerum in autem deleniti blanditiis veritatis facere error, ipsum earum? Iusto a nisi distinctio, dolor nesciunt similique aut adipisci?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati distinctio rerum in autem deleniti blanditiis veritatis facere error, ipsum earum? Iusto a nisi distinctio, dolor nesciunt similique aut adipisci?
